*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: #000000;
  font: 16px sans-serif;
  height: 100%;
}

body {
  background: url(./zoolander.jpg) no-repeat;
  background-position: bottom right;
  background-size: contain;
  margin: 0;
  min-height: 100%;
  padding: 5rem;
}

.container {
  background: #eeeeee;
  box-shadow: 1rem 1rem 4rem 0 rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  width: 400px;
}

counter-display,
counter-button {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 300px;
}

counter-display {
  background: #9bbc0f;
  border: 1rem solid #777777;
  color: #306230;
  font-size: 2rem;
}

counter-display::before,
counter-display::after {
  color: #8bac0f;
}

counter-display::before {
  content: '{{ ';
}

counter-display::after {
  content: ' }}';
}

counter-button {
  text-transform: uppercase;
}

counter-button[value] {
  background: #dfdfdf;
}

counter-button[value]::after {
  background: rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  content: attr(value);
  display: inline-block;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 0.25rem;
  width: 2.5rem;
}

counter-button:not([value]) {
  background: #a93671;
  color: #dfdfdf;
}

counter-button:active,
counter-button:hover,
counter-button:focus {
  outline: 1rem solid #000000;
}
